<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soft2146.crm.api.mapper.CustomerMapper">

    <resultMap id="CuAddVoMap" type="com.soft2146.crm.api.model.vo.CuAddVo">
        <result column="month" javaType="java.lang.Integer" property="month"/>
        <result column="sums" javaType="java.lang.Integer" property="sums"/>
    </resultMap>
    <select id="getThreeMonthNum" resultMap="CuAddVoMap">
        SELECT DATE_FORMAT(create_time, '%m') AS month,
	    COUNT(*) AS sums
        FROM
            customer
        WHERE DATE_FORMAT( create_time, '%m' ) IN (10, 11, 12)
        GROUP BY
            Month
        ORDER BY
            Month
    </select>

    <update id="deleteBathCustomer">
        update customer
        set delete_flag = 1 where id in
        <foreach close=")" collection="ids" index="index" item="mid" open="(" separator=",">
            #{mid}
        </foreach>;
    </update>


</mapper>